a {
    text-decoration: none;
    color: white
}
ul {
    list-style: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-image: linear-gradient(to right, #434343 20%, black 100%);
    color: white;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}
header h1 {
    margin: 0;
    font-size: 2em;
}
nav {
    background-color: transparent;
    position: static;
}
nav ul {
    display: flex;
    justify-content: flex-end;
}
nav ul li {
    margin: 0;
}
nav ul li a {
    display: block;
    padding: 1em 2em;
    font-size: 1.2em;
    transition: background-color 0.3s, color 0.3s;
}
nav ul li a:hover {
    background-color: #007BFF;
}
footer{
    background-image: linear-gradient(to right, #434343 20%, black 100%);

}
.ourteam-container {
    margin: 0;
    position: relative;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team-container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 50px;
    text-align: center;
    margin-top: 10px;

}

.team-container img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}

.ourteam-word {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}
.team-box{
    padding: 16px;
    background-color: #1b1229;
    border-radius: 15px;
    transition: all .38s ease;
}

.team-box h3{
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 8px;
}

.team-box h4{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 8px;

}

.team-box h5{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 2px;
    color: #ffffff;

}

.icons #telegram-icon{
   display: inline-block;
   color: #ffffff;
   font-size: 20px;
   margin: 0 8px;
   transition: all .38s ease; 
}

.icons #telegram-icon:hover{
    transform: scale(1.2);
}

.team-box:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

.copyrights{
    padding: 20px;
    text-align: center;
}

.copyrights #copyright{
    color: #ffffff;

}