a {
    text-decoration: none;
    color: white
}
ul {
    list-style: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-image: linear-gradient(to right, #434343 20%, black 100%);
    color: white;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}
header h1 {
    margin: 0;
    font-size: 2em;
}
nav {
    background-color: transparent;
    position: static;
}
nav ul {
    display: flex;
    justify-content: flex-end;
}
nav ul li {
    margin: 0;
}
nav ul li a {
    display: block;
    padding: 1em 2em;
    font-size: 1.2em;
    transition: background-color 0.3s, color 0.3s;
}
nav ul li a:hover {
    background-color: #007BFF;
}
footer {
    background-image: linear-gradient(to right, #434343 20%, black 100%);
    text-align: center;
    padding: 2em 0;
    background-color: #333;
    color: white;
    font-size: 1.1em;
}
.our-names li {
    text-align: left;
    margin: 10px;
}
footer a:hover {
    color: #007BFF;
    text-decoration: underline;
}