a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: inherit;
}

.main-header {
    margin: 0;
    background-color: #333;
    color: white;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.main-header a{
    text-decoration: none;
    color: white;
}

.main-header .navbar-brand {
    margin: 0;
    font-size: 2em;
}

.main-header .nav-list {
    list-style: none;
}

.main-nav {
    background-color: transparent;
    position: static;
}

.main-nav .nav-list {
    display: flex;
    justify-content: flex-end;
}

.main-nav .nav-list li {
    margin: 0;
}

footer {
    background-color: inherit;
    color: inherit;

}

.ourteam-container {
    position: relative;
    width: 97%;
    height: 500px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
}

.team-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 50px;
    text-align: center;
    margin-top: 10px;
}

.team-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}

.ourteam-word {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}

.team-box {
    padding: 16px;
    background-color: #1b1229;
    border-radius: 15px;
    transition: all .38s ease;
}

.team-box h3 {
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 8px;
}

.team-box h4 {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 8px;

}

.team-box h5 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 2px;
    color: #ffffff;

}

.icons #telegram-icon {
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    margin: 0 8px;
    transition: all .38s ease;
}

.icons #telegram-icon:hover {
    transform: scale(1.2);
}

.team-box:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.footerButtom {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.footerButtom #copyright {
    color: #ffffff;
}

.footerButtom a{
    color: #ffffff;
}

body.dark-mode {
    background-color: #121212;
    color: #f5f5f5 !important;
}

/*do not touch code below ||
                          \/                      
*/
.navbar .navbar-brand,
.navbar .nav-link {
    color: inherit !important; 
}

.dark-mode .game-window {
    background-color: #1a1a1a;
    border-color: #333;
}

.dark-mode .faq {
    background-color: #333;
}

.dark-mode .answer {
    background-color: #444;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}


.btn.dark-mode {
    background-color: #444;
    color: #ffffff;
}

.form-popup.dark-mode,
.account-popup.dark-mode,
.carousel-caption.dark-mode {
    background-color: #222;
    color: #ffffff;
}

.faq.dark-mode,
.answer.dark-mode {
    background-color: #333;
    color: #ffffff;
}

