body{
    font-family: Arial, sans-serif;
    margin: 60px;
    padding: 0;
    background-color: #181414;
    background-size: cover;
    background-attachment: fixed;
}

.main-header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.main-header a{
    text-decoration: none;
    color: white
}

.main-header .navbar-brand {
    margin: 0;
    font-size: 2em;
}

.main-header .nav-list {
    list-style: none;
}

.main-nav {
    background-color: transparent;
    position: static;
}

.main-nav .nav-list {
    display: flex;
    justify-content: flex-end;
}

.main-nav .nav-list li {
    margin: 0;
}

.main-nav .nav-list li a {
    display: block;
    padding: 1em 2em;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: background-color 0.3s, color 0.3s;
}

.main-nav .nav-list li .nav-link:hover {
    background-color: #007BFF;
    color: #fff;
}



.toggle{
    position: absolute;
    left: 17%;
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 115px;
    height: 48px;
    border-radius: 50px;
    transition: .2s ;
}

.toggle-check{
    position: absolute;
    left: 19%;
}

.toggle i {
    margin-top: 4px;
    width: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    z-index: 1,
    

}

.toggle .ball {
    position: absolute;
    width: 37px;
    height: 37px;
    margin: 7.5px;
    border-radius: 50%;
    transition: .3s ease-out;
    margin-bottom: 4px;

}


.light{
    
}

.light .toggle{
    background: linear-gradient(145deg, #FFFFFF, #FFF5EE);
    box-shadow: 2px 1px 2px #e6e6e6,
               -1px -1px 1px #ffffff;
 
}

.light .toggle .bxs-sun {
    color: #fafafafa;

}

.light .toggle .bx-moon{
    color: #000000
}

.light .toggle .ball{
    background: #151d2a;
}


.dark {
    background: #151d2a;
}

.dark .game-text{
    background:  #112e5d;

}

.dark .game-text1{
    background:  #112e5d;

}

.dark .toggle{
    background: #151d2a;
    box-shadow: 3px 3px 3px #0e131b,
               -3px -3px 3px #1c2739;
 
}

.dark .toggle .bx-sun {
    color: #fafafa;
}

.dark .toogle .bxs-moon{
    color: #151d2a;
}

.dark .toggle .ball{
    background: #fafafa;
    transform: translateX(60px);
}



/* Game News */

.c-item{
    height: 500px;

}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);

}

ol{
    list-style: none;
}

.play-button{
    color: #ffffff;
    text-decoration: none;
}


/* Game Text */

.game-text{
    margin: 10px;
    background-color: DimGrey;
    border-radius: 20px;

}

.game-text ul{
    padding: 20px;
}


.game-text ul li{
    color: orange;
    margin: 5px;
}

.game-text1{
    margin-top: 0;
    background-color: DimGrey;
    border-radius: 20px;
    padding: 20px;

}

.game-text1 p {
    color: #ffffff;
    font-size: 20px;
}


/* FAQS */

.faq-container{
    text-align: center;
    color: #fafafa;
    margin-top: 10px;
}

.faq{
    padding: 10px;
    background: dimgray;
    border-radius: 10px ;
    margin-left: 470px;
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom:  2px solid #fff;
    cursor: pointer;
    text-align: center;

}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3{
    font-size: 1.8rem;
    color: #ffffff;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    background: transparent;
    backdrop-filter: blur(30px);
    background-color: #333;
    border-radius: 10px;
}


.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
    color: orange;
}


.faq.active .answer{
    max-height: 300px;
}


 /* User Comment  */

 .thread-container{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;
 }

 .thread-container #message-icon{
    color: #ffffff;
    font-size: 30px;
 }

 .thread-container .title-message{
    color: #ffffff;
    font-size: 25px;
    border-bottom: 1px solid #ffffff;
 }

.thread-container .message-description{
    color: #ffffff;
    font-size: 20px;
}


.user-comment-input{
    display: flex;
    border-bottom: 1px solid #ffffff;
    padding: 10px;
    margin-bottom: 0;
    margin: 10px;
    background-color: #333;
 }

 .user-comment-input #user-icon{
    color: #ffffff;
    font-size: 30px;
}


.user-comment-input input{
    margin: 2px;
    width: 100%;
    height: 32px;
    border-radius: 10px;
    
}

 .user-comment-container{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    border: 1px solid #ffffff;
    border-radius: 10px;
 }


 .user-comment{
    display: flex;
    border-bottom: 1px solid #ffffff;
    padding: 10px;
    margin-bottom: 0;
    margin: 10px;
    background-color: #333;
 }

 .user-comment #user-icon{
    color: #ffffff;
    font-size: 30px;
}

 .user-comment .username{
    font-size: 28px;
    color: #ffffff;
 }


.text-comment{
    color: #ffffff;
    padding: 10px;
    background-color: #000000;
}

/* Footer and Our Team */

 .ourteam-container {
    position: relative;
    width: 97%;
    height: 500px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.team-container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 50px;
    text-align: center;
    margin-top: 10px;

}

.team-container img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}

.ourteam-word {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}
.team-box{
    padding: 16px;
    background-color: #1b1229;
    border-radius: 15px;
    transition: all .38s ease;
}

.team-box h3{
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 8px;

}

.team-box h4{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 8px;

}

.team-box h5{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 2px;
    color: #ffffff;

}

.icons #telegram-icon{
   display: inline-block;
   color: #ffffff;
   font-size: 20px;
   margin: 0 8px;
   transition: all .38s ease; 
}

.icons #telegram-icon:hover{
    transform: scale(1.2);
}

.team-box:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

.footerButtom{
    background-color: #333;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.footerButtom #copyright{
    color: #ffffff;
}