body{
    background-size: cover;
    background-attachment: fixed;
    transition: .2s;
}



/* Title  */

.title-container {
    display: flex;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
    padding-bottom: 30px;
    border-radius: 10px;
    margin-top: 10px;
}

.title-container h1{
    color: inherit !important;
    padding: 10px;
   
}

.title-container p{
    color: inherit !important;
    margin: 8px;
    font-size: 20px;
}

.title-container input{
    display: none;
}




/* First Content */

.first-content{
    margin-top: 20px;
    margin-left: 30px;
       
}

.first-content img{
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, .2);
}

.first-content .news-text{
    color: inherit !important;
    position: absolute;
    bottom: 16%;
    left: 4%;
    font-size: 30px;
    text-decoration: none;
}

.first-content .news-text:hover{
    text-decoration:underline;
}


.first-content .popular-news-text{
    position: absolute;
    top: 34%;
    right: 10%;
    color: inherit !important;
}

.popular-news-text:before{
    content:" ";
    height: 2px;
    width: 130px;
    background: inherit !important;
    display: block;
    position: absolute; 
    top: 58%;
    right: 102%;
  }
  
.popular-news-text:after{
    content:" ";
    height: 2px;
    width: 130px;
    background:white;
    display: block;
    position: absolute;
    top: 58%;
    left: 102%;
  }


  /* Popular News Container */

.popular-news-container{
    border: 2px solid rgba(255, 255, 255, .2);
    background: transparent;
    backdrop-filter: blur(20px);
    margin-bottom: 30px;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    right: 3%;

}

.popular-news-container .popular-item{
    border-bottom: solid 2px rgba(255, 255, 255, .2);;
    margin-top: 5px;
    padding: 13px;
}

.popular-item .popular-text{
    color: inherit !important;
    font-size: 18px;
    text-decoration: none;

}

.popular-item .popular-text:hover{
    text-decoration: underline;
}



/* News Filter  */

.items-links{
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 20px;
}

.items-link{
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    color: inherit !important;
    cursor: pointer;
    border-radius: 30px;
    transition: .4s ease;

}

.items-link:hover{
    background: #007BFF;
    color: inherit !important;
    
}
.menu-active{
    background: #007BFF;
    color: inherit !important;
}

/* Current Date */

#current-date-btn{
    position: absolute;
    right: 2%;
    font-size: 17px;
    height: 30px;
    margin: 15px;
    margin-right: 40px;
    border-radius: 3px ;
    color: inherit !important;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, .2);
}

#current-date-btn:hover{
    background-color: #696969;
    transform: translateY(-3px);
    cursor: pointer;
}

.current-date-text{
   position: absolute;
   right: 1%;
   top: 32%;
   font-size: 20px;
   color: inherit !important;

}

.cancele{
    position: absolute;
    right: 2%;
    top: 11%;
    color: inherit !important;
    background: transparent;
    display: none;
}

.cancele:hover{
    background-color: #696969;
}




/* All News */


.all-news-container{
    display: flex;
    column-gap: 10px;
    justify-self: center;
}


/* Game News Container */

.game-news-container{
    border: solid 0.5px none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.game-news-container1{
    display: none;
    border: solid 0.5px none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.game-news-container2{
    display: none;
    border: solid 0.5px none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}


.open-game-news{
    display: block;
}


/* Game News */

.game-news{ 
    overflow: hidden;
    display: flex;
    margin: 5px;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, .2);
}

.game-news:hover{
    transform: scale(1.02);
}


.game-news img{
    border-radius: 10px;
    padding: 12px;
}

.game-news h2 {
  
    margin: 13px;
}

.game-news  h2 p {
    font-size: 20px;
}

.game-news h2 a {
    text-decoration: none;
}

.game-news h2 a:hover {
    cursor: pointer;
}
div{
    color:inherit !important;
}

/* Trailer */

.game-trailer-container{
  display: flex;
  border-top: solid 3px #000000;
  overflow-x: auto;
}

.game-trailer-container::-webkit-scrollbar{
    width: 0;

}

.game-trailer{
   margin: 20px;
   background: transparent;
   backdrop-filter: blur(20px);
   border: 2px solid rgba(255, 255, 255, .2);
   border-radius: 14px;

}

.game-trailer-container h4{
    margin: 0;
    color: inherit !important;
    font-size: 22px;
}

.game-trailer-container h4 p{
    margin: 3px;
    color: inherit !important;
    font-size: 22px;
}

/* Time Icon */

#time-icon {
    color: red;
}


/* Login  */


.login-all-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.login-container{
    width: 420px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: inherit !important;
    border-radius: 10px;
    padding: 30px 40px;
}

.login-container h1{
    font-size: 36px;
    text-align: center;
}

.login-container .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0 ;

}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: inherit !important;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder{
    color: inherit !important;
}


#lock-1{
    position: absolute;
    right: 16%;
    top: 32%;
    transform: translateY(-50%);
    font-size: 20px;
}

#lock-2{
    position: absolute;
    right: 16%;
    top: 52%;
    transform: translateY(-50%);
    font-size: 20px;
}

.login-container .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}


.remember-forgot label input {
    accent-color: inherit !important;
    margin-right: 3px;
}


.remember-forgot a {
    color: inherit !important;
    text-decoration: none;

}

.remember-forgot a:hover{
    text-decoration: underline;
}

.login-container .submit-btn{
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}


.login-container .register-account{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.register-account button{
    border: 0;
    background: transparent;
}

.register-account p a{
    color: inherit !important;
    text-decoration: none;
    font-weight: 600;
}


.register-account p a:hover{
    text-decoration: underline;
}

.popupClass{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50% ) scale(1);
}



.popupClass img{
    width: 100px;
    margin-top: -10%;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popupClass h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupClass button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #ffffff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer ;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


/* Register */


.register-container{
    width: 420px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
    position: absolute;
    top: 10%;
    left: 34%;
}


.register-container h1{
    font-size: 36px;
    text-align: center;
}

.register-container .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0 ;

}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder{
    color: #ffffff;
}


#lock-1{
    position: absolute;
    right: 16%;
    top: 32%;
    transform: translateY(-50%);
    font-size: 20px;
}

#lock-3{
    position: absolute;
    right: 16%;
    top: 69%;
    transform: translateY(-50%);
    font-size: 20px;
}

#lock-4{
    position: absolute;
    right: 16%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}




.register-container .submit-btn{
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}



/* Our Team */


.ourteam-container {
    position: relative;
    width: 97%;
    height: 500px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
}

.team-container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 50px;
    text-align: center;
    margin-top: 10px;

}

.team-container img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}

.ourteam-word {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}
.team-box{
    padding: 16px;
    background-color: #1b1229;
    border-radius: 15px;
    transition: all .38s ease;
}

.team-box h3{
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 8px;

}

.team-box h4{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 8px;

}

.team-box h5{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 2px;
    color: #ffffff;

}

.icons #telegram-icon{
   display: inline-block;
   color: #ffffff;
   font-size: 20px;
   margin: 0 8px;
   transition: all .38s ease; 
}

.icons #telegram-icon:hover{
    transform: scale(1.2);
}

.team-box:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

.footerButtom{
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.footerButtom #copyright{
    color: #ffffff;
}

.footerButtom a{
    color: #ffffff;
    text-decoration: none;
}


/* See More */

.see-more-container{
    display: flex;
    justify-content: center;
}


.see-more-container .see-more-button{
    width: 50%;
    height: 100%;
    padding: 15px;
    background: #C0C0C0;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, .5);
    color: #FFFFFF;
}

.see-more-container2{
    display: flex;
    justify-content: center;
}


.see-more-container2 .see-more-button2{
    width: 50%;
    height: 100%;
    padding: 15px;
    background: #C0C0C0;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, .5);
    color: #FFFFFF;
}