body{
    background-size: cover;
    background-attachment: fixed;
    transition: .2s;
}

.main-header {
    margin: 0;
    background-color: #333;
    color: white;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.main-header a{
    text-decoration: none;
    color: white;
}

.main-header .navbar-brand {
    margin: 0;
    font-size: 2em;
}

.main-header .nav-list {
    list-style: none;
}

.main-nav {
    background-color: transparent;
    position: static;
}

.main-nav .nav-list {
    display: flex;
    justify-content: flex-end;
}

.main-nav .nav-list li {
    margin: 0;
}

.main-nav .nav-list li a {
    display: block;
    padding: 1em 2em;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: background-color 0.3s, color 0.3s;
}

.main-nav .nav-list li .nav-link:hover {
    background-color: #007BFF;
    color: #fff;
}


/* Title  */

.title-container {
    display: flex;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
    padding-bottom: 30px;
    border-radius: 10px;
    margin-top: 10px;
}

.title-container h1{
    color: white;
    padding: 10px;
   
}

.title-container p{
    color: white;
    margin: 8px;
    font-size: 20px;
}

.title-container input{
    display: none;
}

/* News Filter  */

.items-links{
    width: 100%;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 20px;
}

.items-link{
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    transition: .4s ease;

}

.items-link:hover{
    background: #007BFF;
    color: #fff;
    
}
.menu-active{
    background: #007BFF;
    color: #fff;
}

/* Current Date */


#current-date-btn{
    position: absolute;
    right: 2%;
    font-size: 17px;
    height: 30px;
    margin: 15px;
    margin-right: 40px;
    border-radius: 3px ;
    color: #ffffff;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, .2);
}

#current-date-btn:hover{
    background-color: #696969;
    transform: translateY(-3px);
    cursor: pointer;
}

.current-date-text{
   position: absolute;
   right: 1%;
   top: 32%;
   font-size: 20px;
   color: #ffffff;

}

.cancele{
    position: absolute;
    right: 2%;
    top: 11%;
    color: #ffffff;
    background: transparent;
    display: none;
}

.cancele:hover{
    background-color: #696969;
}


/* Dark and Light Mode */

.toggle{
    position: absolute;
    right: 1%;
    top: 63%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 115px;
    height: 48px;
    border-radius: 50px;
    transition: .2s ;
}

.toggle i {
    margin-top: 4px;
    width: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    z-index: 1,
    

}

.toggle .ball {
    position: absolute;
    width: 37px;
    height: 37px;
    margin: 7.5px;
    border-radius: 50%;
    transition: .3s ease-out;
    margin-bottom: 4px;

}


.light{
    
}

.light .toggle{
    background: linear-gradient(145deg, #FFFFFF, #FFF5EE);
    box-shadow: 2px 1px 2px #e6e6e6,
               -1px -1px 1px #ffffff;
 
}

.light .toggle .bxs-sun {
    color: #fafafafa;

}

.light .toggle .bx-moon{
    color: #000000
}

.light .toggle .ball{
    background: #151d2a;
}



.dark {
    background: #151d2a;

}

.dark .toggle{
    background: #151d2a;
    box-shadow: 3px 3px 3px #0e131b,
               -3px -3px 3px #1c2739;
 
}

.dark .toggle .bx-sun {
    color: #fafafa;
}

.dark .toogle .bxs-moon{
    color: #151d2a;
}

.dark .toggle .ball{
    background: #fafafa;
    transform: translateX(60px);
}



/* All News */


.all-news-container{
    display: flex;
    column-gap: 10px;
    justify-self: center;
}


/* Game News Container */

.game-news-container{
    border: solid 0.5px none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.game-news-container1{
    display: none;
    border: solid 0.5px none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.game-news-container2{
    display: none;
    border: solid 0.5px none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}


.open-game-news{
    display: block;
}
/* Game News */

.game-news{ 
    overflow: hidden;
    display: flex;
    margin: 5px;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, .2);
}

.game-news:hover{
    transform: scale(1.02);
}


.game-news img{
    border-radius: 10px;
    padding: 12px;
}

.game-news h2 {
    color: #ffffff;
    margin: 13px;
}

.game-news  h2 p {
    color: #ffffff;
    font-size: 20px;
}

.game-news h2 a {
    color: #ffffff;
    text-decoration: none;
}

.game-news h2 a:hover {
    color: #F0FFF0;
    cursor: pointer;
}


/* Trailer */

.game-trailer-container{
  display: flex;
  border-top: solid 3px #000000;
  overflow-x: auto;
}

.game-trailer-container::-webkit-scrollbar{
    width: 0;

}

.game-trailer{
   margin: 20px;
   background: transparent;
   backdrop-filter: blur(20px);
   border: 2px solid rgba(255, 255, 255, .2);
   border-radius: 14px;

}

.game-trailer-container h4{
    margin: 0;
    color: #ffffff;
    font-size: 22px;
}

.game-trailer-container h4 p{
    margin: 3px;
    color: #ffffff;
    font-size: 22px;
}

/* Time Icon */

#time-icon {
    color: red;
}


/* Login  */


.login-all-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.login-container{
    width: 420px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
}

.login-container h1{
    font-size: 36px;
    text-align: center;
}

.login-container .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0 ;

}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder{
    color: #ffffff;
}


#lock-1{
    position: absolute;
    right: 16%;
    top: 32%;
    transform: translateY(-50%);
    font-size: 20px;
}

#lock-2{
    position: absolute;
    right: 16%;
    top: 52%;
    transform: translateY(-50%);
    font-size: 20px;
}

.login-container .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}


.remember-forgot label input {
    accent-color: #ffffff;
    margin-right: 3px;
}


.remember-forgot a {
    color: #ffffff;
    text-decoration: none;

}

.remember-forgot a:hover{
    text-decoration: underline;
}

.login-container .submit-btn{
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}


.login-container .register-account{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.register-account button{
    border: 0;
    background: transparent;
}

.register-account p a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}


.register-account p a:hover{
    text-decoration: underline;
}

.popupClass{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50% ) scale(1);
}



.popupClass img{
    width: 100px;
    margin-top: -10%;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popupClass h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupClass button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #ffffff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer ;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


/* Register */


.register-container{
    width: 420px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
    position: absolute;
    top: 10%;
    left: 34%;
}


.register-container h1{
    font-size: 36px;
    text-align: center;
}

.register-container .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0 ;

}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder{
    color: #ffffff;
}


#lock-1{
    position: absolute;
    right: 16%;
    top: 32%;
    transform: translateY(-50%);
    font-size: 20px;
}

#lock-3{
    position: absolute;
    right: 16%;
    top: 69%;
    transform: translateY(-50%);
    font-size: 20px;
}

#lock-4{
    position: absolute;
    right: 16%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}




.register-container .submit-btn{
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}



/* Our Team */


.ourteam-container {
    position: relative;
    width: 97%;
    height: 500px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
}

.team-container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 50px;
    text-align: center;
    margin-top: 10px;

}

.team-container img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}

.ourteam-word {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}
.team-box{
    padding: 16px;
    background-color: #1b1229;
    border-radius: 15px;
    transition: all .38s ease;
}

.team-box h3{
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 8px;

}

.team-box h4{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 8px;

}

.team-box h5{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 2px;
    color: #ffffff;

}

.icons #telegram-icon{
   display: inline-block;
   color: #ffffff;
   font-size: 20px;
   margin: 0 8px;
   transition: all .38s ease; 
}

.icons #telegram-icon:hover{
    transform: scale(1.2);
}

.team-box:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

.footerButtom{
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.footerButtom #copyright{
    color: #ffffff;
}

.footerButtom a{
    color: #ffffff;
    text-decoration: none;
}


/* See More */

.see-more-container{
    display: flex;
    justify-content: center;
}


.see-more-container .see-more-button{
    width: 50%;
    height: 100%;
    padding: 15px;
    background: #C0C0C0;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, .5);
    color: #FFFFFF;
}

.see-more-container2{
    display: flex;
    justify-content: center;
}


.see-more-container2 .see-more-button2{
    width: 50%;
    height: 100%;
    padding: 15px;
    background: #C0C0C0;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, .5);
    color: #FFFFFF;
}